@media (min-width: 641px) and (max-width: 1024px) {
    .gallery {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      grid-template-areas:
        "card1 card2"
        "card3 card4"
        "card5 card6"
        "card7 card8";
    }
    .gallery article:nth-child(1) { grid-area: card1; }
    .gallery article:nth-child(2) { grid-area: card2; }
    .gallery article:nth-child(3) { grid-area: card3; }
    .gallery article:nth-child(4) { grid-area: card4; }
    .gallery article:nth-child(5) { grid-area: card5; }
    .gallery article:nth-child(6) { grid-area: card6; }
    .gallery article:nth-child(7) { grid-area: card7; }
    .gallery article:nth-child(8) { grid-area: card8; }
  }