@media (max-width: 720px) {
    .logo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 1rem;
    }

    #menu {
        display: block;
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #4B0082;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    
    #menu::before {
        content: "☰";
        color: black;
    }
    
    #menu.open::before {
        content: "❌";
    }
    
    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style: none;
        background-color: black;
        color: #fff;
    }
    
    .navigation a {
        display: none;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }
    
    .navigation a:hover {
        background-color: #bbb;
        color: #333;
        font-weight: 700;
    }
    
    .open a {
        display: block;
    }

    .directory {
        font-size: 12.5px;
    }

    .homepage-section {
        display: grid;
        grid-template-columns: auto;
    }

    .container {
        flex-direction: column;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        grid-template-areas:
          "card1"
          "card2"
          "card3"
          "card4"
          "card5"
          "card6"
          "card7"
          "card8";
      }
    .gallery article:nth-child(1) { grid-area: card1; }
    .gallery article:nth-child(2) { grid-area: card2; }
    .gallery article:nth-child(3) { grid-area: card3; }
    .gallery article:nth-child(4) { grid-area: card4; }
    .gallery article:nth-child(5) { grid-area: card5; }
    .gallery article:nth-child(6) { grid-area: card6; }
    .gallery article:nth-child(7) { grid-area: card7; }
    .gallery article:nth-child(8) { grid-area: card8; }
}